<%= form_with(model: @question, local: true) do |f| %>

        <div class="form-group">
          
<%= f.text_area :content, class: 'form-control' %>

        </div>
        
<%= f.submit '質問を投稿する', class: 'btn btn-primary btn-block' %>

      
<% end %>

