<table class="table table-striped">
    <thead>
        <tr>
            <th>質問</th>
        </tr>
    </thead>
    <tbody>
        <% @questions.each do |question| %>
        <tr>
            <td><%= link_to question.content, question_path(question) %></td>
        </tr>
        <% end %>
    </tbody>
</table>    
  

  
